[user]
	email = pb866@york.ac.uk
	name = Peter Bräuer
[core]
	excludesfile = /Users/peter/.gitignore_global
[difftool "sourcetree"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/peter/.stCommitMsg
[diff]
	tool = kdiff3
[difftool "kdiff3"]
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
[difftool]
	prompt = false
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
[mergetool]
	prompt = false
